body {
    background-image: url('./backgrounds/Vege_Classique.png');
    background-size: 1920px auto; /* Fixes width at 1920px */
    background-repeat: no-repeat; /* Prevents repetition */
    background-position: top left; /* Positions image in top-left corner */
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

.score-box {
    position: absolute;
    width: 8vw;
    height: 8vw;
    max-width: 20px;
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 58px;
    color: rgba(136, 136, 136, 1);
}

#box-left {
    left: 855px;
    top: 180px;
    transform: translate(-50%, -50%);
}

#box-right {
    left: 1044px;
    top: 180px;
    transform: translate(50%, -50%);
}

.buttons {
    position: absolute;
    top: 400px;
    margin-top: 20px;
    font-size: 26px;
    border:1px solid rgb(117, 117, 70)
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
}

select {
    font-size: 26px;
}